---
---
@import url(http://fonts.googleapis.com/css?family=Raleway);

$red: #ff4d54;
$white: #fff;

body {
  background-image: url("../Superma.jpg");
  background-size: cover;
  font-family: 'Helvetica Neue', serif;
	color: #fff;
}


@mixin perspective($pixels) {
	-webkit-perspective: $pixels;
	-moz-perspective: $pixels;
	-o-perspective: $pixels;
	perspective: $pixels;
}

@mixin transition($speed) {
	-webkit-transition: -webkit-transform $speed;
	-moz-transition: -moz-transform $speed;
	-o-transition: -o-transform $speed;
	transition: transform $speed;
}

@mixin transform-style() {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@mixin transform($degrees) {
	-webkit-transform: rotateX( $degrees + deg);
	-moz-transform: rotateX( $degrees + deg);
	-o-transform: rotateX( $degrees + deg);
	transform: rotateX( $degrees + deg);
}

@mixin backface-visibility() {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cont-contactInfo {
	float: left;
	padding-right: 5%;
	width: 45%;

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 22px;
		font-weight: normal;
		text-transform: uppercase;
	}

	h4.section {
		margin: 30px 0 0;
	}

	p {
		margin: 0;
	}

	p > a {
		text-transform: uppercase;
		font-weight: bold;
	}
}

.cont-contactBtn {
  margin-left: 1%;
	position: relative;

	@include perspective(800px);

	.cont-flip {
		position: absolute;
		@include transition(.5s);
		@include transform-style();
		width: 100%;

		.front, .back {
			display: block;
			margin: 0;
			height: 100%;
			width: 100%;
			position: absolute;

			@include backface-visibility;
		}

		.back {
			@include transform(180);
		}
	}



	.cont-flip.flipped {
		@include transform(180);
	}

	.contact-form {
		padding: 0 10%;
		width: 80%;

		input, textarea {
			font-size: 1em;

			padding: 8px 0;
		}

		input[type="email"] {
			float: left;
      color: #000;
      text-align: center;
			margin-bottom: 8px;
      margin-left: 16%;
      height: 2em;
			width: 63%;
		}

		.gutter {
			margin-right: 2.8%;
		}

		textarea {
			height: 106px;
			padding-left: 3%;
			margin-bottom: 22px;
			width: 96.2%;
		}

		input[type="submit"] {
			background-color: #000;
			border: none;
			color: #fff;
			height: 55px;
			width: 40%;
      margin-left: 28%;
			text-align: center;
		}


	}

	.close {
		display: block;
		height: 19px;
		width: 19px;
		background-image: url('http://i.imgur.com/WoKg12q.png');
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 15px;
		right: 3%;
	}
}

.btn {
	border: 3px #fff solid;
  color: #fff;
	display: block;
	font-weight: normal;
	margin: 0 auto;
  height: 2.4em;
	max-width: 280px;
  padding-top: 25px;
	text-align: center;
	text-transform: uppercase;
  text-decoration: none;
	width: 100%;
  font-size: 1.3em;
  transition: 0.5s;
}


.btn:hover {
  background-color: #fff;
  color: #000;
	display: block;
	font-weight: normal;
	margin: 0 auto;
  height: 2.4em;
	max-width: 280px;
  padding-top: 25px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
  font-size: 1.3em;
  transition: 0.7s;
}


$text-color: #fff;
$anchor-text-color: #DE2052;
$background-color: #fff;


/*** Author ***/
.author-container h1 {
	font-weight: 100;
  font-family: "Oswald" , serif;
	font-size: 4.8em;
	margin-top: 1.6em;
	margin-bottom: 0;
	text-align: center;
}

/*** Tagline ***/
.tagline-container p {
	font-size: 1.7em;
	font-weight: 200;
	text-align: center;
	margin-bottom: 2em;
}



/*** media queries ***/
/* X-Small devices (phones, 480px and up) */
@media (min-width: 480px) {
	/* wrapper stays 480px wide past 480px wide and is kept centered */
	.wrapper {
		width: 480px;
		margin: 5% auto;

	}
}

/* All other devices (768px and up) */
@media (min-width: 768px) {
	/* past 768px the layout is changed and the wrapper has a fixed width of 680px
	to accomodate both the header column and the content column */
	.wrapper {
		width: 680px;

	}


	main {
		width: 46%;
		margin-left: 26%;
		padding: 0;
	}
}
